{% extends 'base.html' %}
{% block content %}
    {% for community in communities %}
        <div class='jumbotron'>
    <a class='text-decoration-none' href="{{ url_for('post.get_posts', name=community.name) }}">
            <h3>r/{{ community.name }}</h3>
            <h5>{{ community.description }}</h5>
    </a>
            <h6>Creator: <a href="{{ url_for('main.profile', username=community.user.username) }}">u/{{ community.user.username }}</a></h6>
            <h6>{{ community.participants.count() }} participants</h6>
            {% if current_user.is_authenticated %}
            {% if join_or_leave(current_user, community) %}
        <a class='btn btn-danger' href="{{ url_for('community.leave_community', name=community.name) }}">Leave community</a>
            {% else %}
        <a class='btn btn-success' href="{{ url_for('community.join_community', name=community.name) }}">Join community</a>
        {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
