{% extends 'base.html' %}
{% block messages %}
{% if not current_user.is_anonymous and not current_user.is_confirmed %}
<div class='container-sm mb-4'>
  {% include 'macros/_confirm.html' %}
</div>
{% endif %}
{% if current_user.is_anonymous %}
<div class='container-sm mb-4'>
  {% include 'macros/_register.html' %}
</div>
{% endif %}
{% endblock messages %}
{% block content %}
{% if posts %}
    {% for post in posts %}
    {% set community = find_community(post) %}
        {% include 'macros/_post.html' %}
    {% endfor %}
{% else %}
<h1 class='text-center'>Join some communties to view posts</h1>
<p class='text-center'><a class='btn btn-primary' href="{{ url_for('communities.communities') }}">View communities</a></p>
{% endif %}
{% endblock content %}
