{% extends 'base.html' %}
{% block navbar %}
    <li class='nav-item'><a class='nav-link' href="{{ url_for('main.edit_profile', username=current_user.username) }}">Edit profile</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class='nav-link text-dark' href="{{ url_for('auth.change_username') }}">Change username</a>
          <div class="dropdown-divider"></div>
            <a class='nav-link text-dark' href="{{ url_for('auth.change_password') }}">Change password</a>
          <div class="dropdown-divider"></div>
            <a class='nav-link text-dark' href="{{ url_for('auth.request_change_email') }}">Change email</a>
        </div>
    </li>
  <li class='nav-item'><a class='nav-link' href="{{ url_for('auth.logout') }}">Logout</a></li>
{% endblock navbar %}
{% block content %}
<div class='jumbotron text-center'>
  <img src='{{ user.gravatar(size=256) }}' />
  <h4>u/{{ user.username }}</h4>
  <h4>{{ user.email }}</h4>
  {% if user.name %}
 <h4>Name {{ user.name }}</h4>
 {% endif %}
  {% if user.location %}
 <h4>Location {{ user.location }}</h4>
 {% endif %}
  {% if user.about_me %}
 <h4>About me {{ user.about_me }}</h4>
 {% endif %}
 <a class='btn btn-primary' href="{{ url_for('main.edit_profile', username=user.username) }}">Edit profile</a>
</div>
{% endblock content %}
