{% extends 'base.html' %}
{% block navbar %}
    {% if current_user.id == post.author_id %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class='nav-link text-dark' href="{{ url_for('post.update_post', title=post.title, name=community.name) }}">Edit post</a>
          <div class="dropdown-divider"></div>
            <a class='nav-link text-dark' href="{{ url_for('post.delete_post', title=post.title, name=community.name) }}">Delete post</a>
        </div>
    </li>
    {% endif %}
    {% if current_user.is_authenticated %}
            <a class='nav-link text-dark' href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
{% endblock navbar %}
{% block content %}
{% include 'macros/_post.html' %}
    {% for reply in replies %}
        {% include 'macros/_reply.html' %}
    {% endfor %}
{% endblock content %}
