    <div class='jumbotron'>
        <a class='img' href="{{ url_for('main.profile', username=reply.author.username) }}">
        <img src="{{ reply.author.gravatar() }}">
        <p>
        u/{{ reply.author.username }}</a> replied in <a href="{{ url_for('community.get_community', name=community.name) }}">r/{{ community.name }}</a> on {{ reply.timestamp.strftime('%m/%d/%Y') }}
        <p>{{ reply.body }}</p>
        <p class='font-match'>
        {% if not current_user.is_anonymous %}
        <a href="{{ url_for('reply.upvote_reply', name=community.name, title=post.title, reply_id=reply.id) }}"><i class='fas fa-arrow-alt-circle-up '></i></a>
        {{ get_votes(reply=reply) }}
        <a href="{{ url_for('reply.downvote_reply', name=community.name, title=post.title, reply_id=reply.id) }}"><i class='fas fa-arrow-alt-circle-down '></i></a>
        {% else %}
        {{ get_votes(reply=reply) }}
        <a class='btn btn-primary' href="{{ url_for('auth.login') }}">Login to vote</a>
        {% endif %}
    </p>
        {% if reply.author.id == current_user.id %}
        <a class='btn btn-primary' href="{{ url_for('reply.edit_reply', name=community.name, title=post.title, reply_id=reply.id) }}">Edit</a>
        <a class='btn btn-danger' href="{{ url_for('reply.delete_reply', name=community.name, title=post.title, reply_id=reply.id) }}">Delete</a>
        {% endif %}
    </div>
